## Задание на coursera ##

 ### Цель: поработать с библиотекой Pandas. ###

Данные: скачанные с Kaggle датасет о титанике.

In [32]:
# импортируем бибилиотеки
import re
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv')

**Какое количество мужчин и женщин ехало на корабле?**

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
print('Мужчин на корабле было:', data.loc[data['Sex'] == 'male'].shape[0])

Мужчин на корабле было: 577

In [39]:
#второй способ
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [13]:
print('Женщин на корабле было:', data.loc[data['Sex'] == 'female'].shape[0])

Женщин на корабле было: 314

**Какой части пассажиров удалось выжить?**

In [16]:
surv_part = data.loc[data['Survived'] == 1].shape[0] / data.shape[0]
print('Выжить удалось ' , round(surv_part*100,2), '% пассажиров')

Выжить удалось  38.38 % пассажиров

**Какую долю пассажиры первого класса составляли среди всех пассажиров?**

In [18]:
Aclass_part = data.loc[data['Pclass'] == 1].shape[0] / data.shape[0]
print('Первый класс составляли ' , round(Aclass_part*100, 2), '% пассажиров')

Первый класс составляли  24.24 % пассажиров

**Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров.**

In [23]:
print('Средний возраст пассажиров:', round(data.Age.mean()))
print('Медиана возраста пассажиров:', round(data.Age.median()))

Средний возраст пассажиров: 30
Медиана возраста пассажиров: 28

**Коррелируют ли число братьев/сестер/супругов с числом родителей/детей?**

In [28]:
data.loc[:, ['SibSp', 'Parch']].corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

Можем сделать вывод: да, коррелируют, тк p = 0.4

**Какое самое популярное женское имя на корабле?**

In [33]:
def clean_name(name):
 
    # Первое слово до запятой - фамилия
    s = re.search('^[^,]+, (.*)', name)
    if s:
        name = s.group(1)
 
    # Если есть скобки - то имя пассажира в них
    s = re.search('\(([^)]+)\)', name)
    if s:
        name = s.group(1)
    # Удаляем обращения
    name = re.sub('(Miss\. |Mrs\. |Ms\. )', '', name)
    # Берем первое оставшееся слово и удаляем кавычки
    name = name.split(' ')[0].replace('"', '')
    return name

In [34]:
names = data[data['Sex'] == 'female']['Name'].map(clean_name)
name_counts = names.value_counts()

In [36]:
print('Cамое популярное женскоре имя:', name_counts.head(1).index.values[0])

Cамое популярное женскоре имя: Anna