# Задание на coursera #

## Опорные объекты ##

Цель:
* работать с методом опорных векторов (SVM)
* находить наиболее важные объекты выборки

**Загрузите выборку из файла svm-data.csv. В нем записана двумерная выборка (целевая переменная указана в первом столбце, признаки — во втором и третьем).**

In [11]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC

In [34]:
names = ['Y','x1','x2']
data = pd.read_csv('svm-data.csv',names=names)
y=data.Y
X=data.drop(['Y'], axis=1)

In [35]:
data

     Y    x1    x2
0  0.0  0.70  0.29
1  1.0  0.23  0.55
2  0.0  0.72  0.42
3  0.0  0.98  0.68
4  0.0  0.48  0.39
5  1.0  0.34  0.73
6  0.0  0.44  0.06
7  1.0  0.40  0.74
8  0.0  0.18  0.18
9  1.0  0.53  0.53

**Обучите классификатор с линейным ядром, параметром C = 100000 и random_state=241.**

In [36]:
clf = SVC(kernel='linear', C = 100000, random_state=241)
clf.fit(X, y)

SVC(C=100000, kernel='linear', random_state=241)

**Найдите номера объектов, которые являются опорными (нумерация с единицы). Они будут являться ответом на задание**

In [37]:
n_sv = clf.support_
n_sv

array([3, 4, 9], dtype=int32)