# Задание на coursera #

## Важность признаков ##

Цель: 
 * обучать решающие деревья
 * находить наиболее важные для них признаки

In [1]:
# импортируем библиотеки
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv')
data = data[~np.isnan(data['Age'])]

**Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).**

In [3]:
X = data.loc[:,['Pclass','Fare','Age','Sex']]
X

     Pclass     Fare   Age     Sex
0         3   7.2500  22.0    male
1         1  71.2833  38.0  female
2         3   7.9250  26.0  female
3         1  53.1000  35.0  female
4         3   8.0500  35.0    male
..      ...      ...   ...     ...
885       3  29.1250  39.0  female
886       2  13.0000  27.0    male
887       1  30.0000  19.0  female
889       1  30.0000  26.0    male
890       3   7.7500  32.0    male

[714 rows x 4 columns]

**Выделите целевую переменную — она записана в столбце Survived.**

In [4]:
y = data['Survived']
y

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

**Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки**

In [20]:
X.isnull().sum()

Pclass        0
Fare          0
Age           0
Sex_female    0
dtype: int64

In [ ]:
X = pd.get_dummies(X)
X = X.drop('Sex_male',axis=1)

**Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию**

In [21]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)
X

     Pclass     Fare   Age  Sex_female
0         3   7.2500  22.0           0
1         1  71.2833  38.0           1
2         3   7.9250  26.0           1
3         1  53.1000  35.0           1
4         3   8.0500  35.0           0
..      ...      ...   ...         ...
885       3  29.1250  39.0           1
886       2  13.0000  27.0           0
887       1  30.0000  19.0           1
889       1  30.0000  26.0           0
890       3   7.7500  32.0           0

[714 rows x 4 columns]

**Вычислите важности признаков и найдите два признака с наибольшей важностью**

In [13]:
importances = clf.feature_importances_
importances

array([0.14751816, 0.29538468, 0.25658495, 0.30051221])

***Таким образом можно считать что два наиболее важных признака: Sex и Fare***